/* ------ FONTS ------ */
@font-face {
	font-family: source-sans;
	src: url(../fonts/SourceSansPro-Light.otf);
}
@font-face {
	font-family: source-sans-reg;
	src: url(../fonts/SourceSansPro-Regular.otf);
}
@font-face {
	font-family: source-sans-bold;
	src: url(../fonts/SourceSansPro-Bold.otf);
}

/* ------ GLOBAL ----- */
body {
	font-family: source-sans, Helvetica, sans-serif;
	background: #ccc;
}

.btn-blue {
	color: #13b;
	text-decoration: none;
	margin: 0.5em;
	padding: 0.25em;
	border: solid 1px;
	border-radius: 10px;
}

.btn-blue-small {
	color: #13b;
	text-decoration: none;
	font-size: 0.75em;
	border: solid 1px;
	padding: 0.15em;
}

.btn-green-small {
	color: #1a3;
	text-decoration: none;
	font-size: 0.75em;
	border: solid 1px;
	padding: 0.15em;
}

.btn-red-small {
	color: #b13;
	text-decoration: none;
	padding: 0.15em;
	font-size: 0.75em;
	font-family: source-sans-bold;
	border: solid 1px;
}

textarea, input {
	border: solid 1px #ccc;
	border-radius: 15px;
	padding-left: 0.5em;
}

select {
	background: #fff;
	font-family: source-sans, Helvetica, sans-serif;
}

input[type=submit] {
	color: #13b;
	padding: 0.5em;
	border: solid 1px;
	border-radius: 10px;
	background-color: #fff;
	z-index: 999;
	font-family: source-sans, Helvetica, sans-serif;
	font-size: 1em;
}

div#container {
	position: relative;
	background-color: #fff;
    margin-left: 10%;
    margin-right: 10%;
    min-height: 93vh;
}

div#content{
	margin-left: 5%;
	margin-right: 5%;
	padding-bottom: 20px;
}

/* ------ HEADER ----- */
header {
	text-align: center;
}

header h1 {
	padding-top: 0.5em;
	font-weight: normal;
}

/* ------ NAV -------- */
div#nav {
	margin-bottom: 1em;
}

div#nav a {
	color: #13b;
	text-decoration: none;
	margin-right: 1em;
}

/* ------ FOOTER ----- */
footer {
	position: absolute;
    bottom: 5px;
    left: 0;
	width: 100%;
	height: 20px;
	font-size: 0.75em;
	color: #666;
	text-align: center;
}

/* ------ CROPS ------ */
span.crop-common-name {
	font-family: source-sans-bold;
}

span.crop-scientific-name {
	font-style: italic;
}

span.detail-name {
	font-family: source-sans-reg;
	margin-left: 2em;
}

div.crop-details {
	margin-left: 2em;
}

div.crop {
	margin: 1em;
}

/* -------- MOBILE -------- */
@media (max-device-width: 1000px) {
	body {
		font-size: 300%;
	}
	
	div#container {
		margin-left: 1.5%;
		margin-right: 1.5%;
		min-height: 85vh;
	}
	
	div#content {
		margin-left: 3%;
		margin-right: 3%;
	}
	
	header h1 {
		margin-bottom: 0em;
	}
	
	div#nav {
		margin-top: 0.5em;
	}
	
	div#nav a {
		margin-left: 30%;
		margin-right: 30%;
	}
	
	input {
		font-size: 32px;
		width: 600px;
		border: solid 1px #ccc;
		border-radius: 15px;
	}
	
	select {
		width: 600px;
		font-size: 32px;
		margin-left: 0%;
		margin-right: 30%;
		background: transparent;
	}
	
	textarea {
		font-size: 32px;
		width: 600px;
		height: 300px;
		border: solid 1px #ccc;
		border-radius: 15px;
	}
	
	footer {
		bottom: 35px;
	}

}
